body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* const tintColor = '#968CCB'
const gray = '#515C6F'
const lightGray = '#E7EAF0'
const white = '#fefefe'
const black = '#1a1917'
const pink = '#FB31BF' */
h1,
h2,
p,
label {
  color: #515c6f;
  display: flex;
  flex-direction: column;
}
ul li {
  list-style: none;
}
.two-col {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.one-col {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
.menu {
  background-color: #968ccb;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu li {
  display: inline-block;
}
.menu li a {
  padding: 20px;
  text-decoration: none;
  display: block;
  color: #fefefe;
}

.menu li a:visited {
  text-decoration: none;
  color: #fefefe;
}

.btn {
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 14px;
  color: #fefefe;
  max-width: 200px;
}

.btn:focus {
  outline: none;
}

.btn-signout {
  background-color: #fefefe;
  color: #968ccb;
}

.btn-add {
  background-color: #968ccb;
}

.btn-delete {
  background-color: #da5848;
}

.btn-edit {
  background-color: #2aa0c6;
}
.form-box {
  max-width: 350px;
  width: 100%;
  border-radius: 10px;
  background-color: #fefefe;
  padding: 20px;
  box-shadow: 0 14px 28px rgba(54, 53, 53, 0.15),
    0 10px 10px rgba(85, 84, 84, 0.12);
}
form {
  display: flex;
  flex-direction: column;
}
input {
  padding: 10px;
  border-radius: 40px;
  border: 1px solid #968ccb;
  background: #fefefe;
  margin: 10px 0;
}
input:focus {
  outline: none;
}
::-webkit-scrollbar {
  width: 1px;
}

/* combos */
.combo-list {
  margin: 0;
  max-height: 510px;
  overflow-y: scroll;
  padding: 0 20px 20px;
}
.combo-item {
  min-width: 370px;
  max-width: 370px;
  padding: 20px;
  margin: 0 20px 20px;
  border-radius: 10px;
  box-shadow: 0 8px 12px rgba(54, 53, 53, 0.15);
}
.combo-item p span {
  color: #968ccb;
}
.combo-item div:first-child {
  display: flex;
  align-items: flex-start;
}
.combo-item-img {
  max-width: 100px;
  margin-right: 30px;
}
